{
  "openapi": "3.0.0",
  "info": {
    "title": "Farcaster API V2",
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://api.neynar.com/v2"
    }
  ],
  "components": {
    "schemas": {
      "Address": {
        "type": "string",
        "pattern": "^0x[a-fA-F0-9]{40}$",
        "description": "Ethereum address"
      },
      "SolAddress": {
        "type": "string",
        "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
        "description": "Solana address"
      },
      "Fid": {
        "type": "integer",
        "default": 3,
        "format": "int32",
        "description": "User identifier (unsigned integer)"
      },
      "SignerUUID": {
        "type": "string",
        "description": "UUID of the signer",
        "example": "19d0c5fd-9b33-4a48-a0e2-bc7b0555baec"
      },
      "ActiveStatus": {
        "type": "string",
        "enum": [
          "active",
          "inactive"
        ],
        "description": "The status of a user.\n  - active: The user is currently active.\n  - inactive: The user is not currently active.\n"
      },
      "FollowSortType": {
        "type": "string",
        "enum": [
          "desc_chron",
          "algorithmic"
        ],
        "example": "desc_chron"
      },
      "ReactionType": {
        "type": "string",
        "enum": [
          "like",
          "recast"
        ]
      },
      "ReactionsType": {
        "type": "string",
        "enum": [
          "all",
          "likes",
          "recasts"
        ]
      },
      "NextCursor": {
        "type": "object",
        "description": "Returns next cursor",
        "required": [
          "cursor"
        ],
        "properties": {
          "cursor": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CastHash": {
        "type": "string",
        "default": "0xfe90f9de682273e05b201629ad2338bdcd89b6be",
        "description": "Cast Hash"
      },
      "CastNotificationType": {
        "type": "string",
        "enum": [
          "cast-mention",
          "cast-reply"
        ],
        "description": "The notification type of a cast.\n"
      },
      "CastParamType": {
        "type": "string",
        "enum": [
          "url",
          "hash"
        ],
        "description": "The query param accepted by the API. Sent along with identifier param.\nurl - Cast identifier is a url\nhash - Cast identifier is a hash\n"
      },
      "ReplyDepth": {
        "type": "integer",
        "description": "Depth of replies to fetch in the conversation.\n",
        "default": 2,
        "minimum": 0,
        "maximum": 5
      },
      "ErrorRes": {
        "type": "object",
        "required": [
          "message"
        ],
        "description": "Details for the error response",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "property": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Ed25519PublicKey": {
        "type": "string",
        "pattern": "^0x[a-fA-F0-9]{64}$",
        "description": "Ed25519 public key",
        "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
      },
      "Timestamp": {
        "type": "string",
        "format": "date-time"
      },
      "IndividualHashObj": {
        "type": "object",
        "properties": {
          "hash": {
            "type": "string"
          }
        },
        "required": [
          "hash"
        ]
      },
      "EmbedUrl": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string"
          }
        }
      },
      "CastId": {
        "type": "object",
        "required": [
          "fid",
          "hash"
        ],
        "properties": {
          "fid": {
            "type": "integer",
            "default": 3,
            "format": "int32",
            "description": "User identifier (unsigned integer)"
          },
          "hash": {
            "type": "string"
          }
        }
      },
      "EmbedCastId": {
        "type": "object",
        "required": [
          "cast_id"
        ],
        "properties": {
          "cast_id": {
            "type": "object",
            "required": [
              "fid",
              "hash"
            ],
            "properties": {
              "fid": {
                "type": "integer",
                "default": 3,
                "format": "int32",
                "description": "User identifier (unsigned integer)"
              },
              "hash": {
                "type": "string"
              }
            }
          }
        }
      },
      "Frame": {
        "type": "object",
        "required": [
          "version",
          "image",
          "frames_url"
        ],
        "properties": {
          "version": {
            "type": "string",
            "description": "Version of the frame"
          },
          "image": {
            "type": "string",
            "description": "URL of the image"
          },
          "buttons": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "index",
                "action_type"
              ],
              "properties": {
                "title": {
                  "type": "string",
                  "description": "Title of the button"
                },
                "index": {
                  "type": "integer",
                  "description": "Index of the button"
                },
                "action_type": {
                  "type": "string",
                  "enum": [
                    "post",
                    "post_redirect",
                    "tx"
                  ]
                },
                "target": {
                  "type": "string",
                  "description": "Target of the button"
                },
                "post_url": {
                  "type": "string",
                  "description": "Used specifically for the tx action type to post a successful transaction hash"
                }
              }
            }
          },
          "post_url": {
            "type": "string",
            "description": "Post URL to take an action on this frame"
          },
          "frames_url": {
            "type": "string",
            "description": "URL of the frames"
          },
          "title": {
            "type": "string"
          },
          "image_aspect_ratio": {
            "type": "string"
          },
          "input": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string",
                "description": "Input text for the frame"
              }
            }
          },
          "state": {
            "type": "object",
            "properties": {
              "serialized": {
                "type": "string",
                "description": "State for the frame in a serialized format"
              }
            }
          }
        }
      },
      "FrameAction": {
        "type": "object",
        "required": [
          "button",
          "frames_url",
          "post_url"
        ],
        "properties": {
          "version": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "button": {
            "type": "object",
            "required": [
              "index",
              "action_type"
            ],
            "properties": {
              "title": {
                "type": "string",
                "description": "Title of the button"
              },
              "index": {
                "type": "integer",
                "description": "Index of the button"
              },
              "action_type": {
                "type": "string",
                "enum": [
                  "post",
                  "post_redirect",
                  "tx"
                ]
              },
              "target": {
                "type": "string",
                "description": "Target of the button"
              },
              "post_url": {
                "type": "string",
                "description": "Used specifically for the tx action type to post a successful transaction hash"
              }
            }
          },
          "input": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string",
                "description": "Input text for the frame",
                "example": "Draw a purple ringed planet"
              }
            }
          },
          "state": {
            "type": "object",
            "required": [
              "serialized"
            ],
            "properties": {
              "serialized": {
                "type": "string",
                "description": "State for the frame in a serialized format",
                "example": "%7B%22counter%22%3A1%7D"
              }
            }
          },
          "transaction": {
            "type": "object",
            "required": [
              "hash"
            ],
            "properties": {
              "hash": {
                "type": "string",
                "description": "Transaction hash",
                "example": "0xa80de157a3ab4648db1ecfab7e6355b342215bc549f6e37be9e6da527cc024f7"
              }
            }
          },
          "address": {
            "type": "string",
            "description": "The connected wallet address of the interacting user."
          },
          "frames_url": {
            "type": "string",
            "description": "URL of the frames"
          },
          "post_url": {
            "type": "string",
            "description": "URL of the post to get the next frame"
          }
        }
      },
      "FrameButtonActionType": {
        "type": "string",
        "enum": [
          "post",
          "post_redirect",
          "tx"
        ]
      },
      "FrameInput": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Input text for the frame",
            "example": "Draw a purple ringed planet"
          }
        }
      },
      "FrameState": {
        "type": "object",
        "required": [
          "serialized"
        ],
        "properties": {
          "serialized": {
            "type": "string",
            "description": "State for the frame in a serialized format",
            "example": "%7B%22counter%22%3A1%7D"
          }
        }
      },
      "FrameAddress": {
        "type": "string",
        "description": "The connected wallet address of the interacting user."
      },
      "FrameTransaction": {
        "type": "object",
        "required": [
          "hash"
        ],
        "properties": {
          "hash": {
            "type": "string",
            "description": "Transaction hash",
            "example": "0xa80de157a3ab4648db1ecfab7e6355b342215bc549f6e37be9e6da527cc024f7"
          }
        }
      },
      "FrameActionButton": {
        "type": "object",
        "required": [
          "index",
          "action_type"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the button"
          },
          "index": {
            "type": "integer",
            "description": "Index of the button"
          },
          "action_type": {
            "type": "string",
            "enum": [
              "post",
              "post_redirect",
              "tx"
            ]
          },
          "target": {
            "type": "string",
            "description": "Target of the button"
          },
          "post_url": {
            "type": "string",
            "description": "Used specifically for the tx action type to post a successful transaction hash"
          }
        }
      },
      "ReactionLike": {
        "type": "object",
        "required": [
          "fid"
        ],
        "properties": {
          "fid": {
            "type": "integer",
            "default": 3,
            "format": "int32",
            "description": "User identifier (unsigned integer)"
          }
        }
      },
      "ReactionRecast": {
        "type": "object",
        "required": [
          "fid",
          "fname"
        ],
        "properties": {
          "fid": {
            "type": "integer",
            "default": 3,
            "format": "int32",
            "description": "User identifier (unsigned integer)"
          },
          "fname": {
            "type": "string"
          }
        }
      },
      "User": {
        "type": "object",
        "required": [
          "object",
          "fid",
          "custody_address",
          "username",
          "profile",
          "follower_count",
          "following_count",
          "verifications",
          "verified_addresses",
          "active_status",
          "power_badge"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "user"
            ]
          },
          "fid": {
            "type": "integer",
            "default": 3,
            "format": "int32",
            "description": "User identifier (unsigned integer)"
          },
          "username": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "custody_address": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "Ethereum address"
          },
          "pfp_url": {
            "type": "string",
            "description": "The URL of the user's profile picture"
          },
          "profile": {
            "type": "object",
            "required": [
              "bio"
            ],
            "properties": {
              "bio": {
                "type": "object",
                "required": [
                  "text",
                  "mentioned_profiles"
                ],
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "mentioned_profiles": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "default": []
                  }
                }
              }
            }
          },
          "follower_count": {
            "type": "integer",
            "format": "int32",
            "description": "The number of followers the user has."
          },
          "following_count": {
            "type": "integer",
            "format": "int32",
            "description": "The number of users the user is following."
          },
          "verifications": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$",
              "description": "Ethereum address"
            }
          },
          "verified_addresses": {
            "type": "object",
            "required": [
              "eth_addresses",
              "sol_addresses"
            ],
            "properties": {
              "eth_addresses": {
                "type": "array",
                "items": {
                  "type": "string",
                  "pattern": "^0x[a-fA-F0-9]{40}$",
                  "description": "Ethereum address"
                }
              },
              "sol_addresses": {
                "type": "array",
                "items": {
                  "type": "string",
                  "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                  "description": "Solana address"
                }
              }
            }
          },
          "active_status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ],
            "description": "The status of a user.\n  - active: The user is currently active.\n  - inactive: The user is not currently active.\n"
          },
          "power_badge": {
            "type": "boolean"
          },
          "viewer_context": {
            "type": "object",
            "description": "Adds context on the viewer's follow relationship with the user.",
            "required": [
              "following",
              "followed_by"
            ],
            "properties": {
              "following": {
                "description": "Indicates if the viewer is following the user.",
                "type": "boolean"
              },
              "followed_by": {
                "description": "Indicates if the viewer is followed by the user.",
                "type": "boolean"
              }
            }
          }
        }
      },
      "EmbeddedCast": {
        "oneOf": [
          {
            "type": "object",
            "required": [
              "url"
            ],
            "properties": {
              "url": {
                "type": "string"
              }
            }
          },
          {
            "type": "object",
            "required": [
              "cast_id"
            ],
            "properties": {
              "cast_id": {
                "type": "object",
                "required": [
                  "fid",
                  "hash"
                ],
                "properties": {
                  "fid": {
                    "type": "integer",
                    "default": 3,
                    "format": "int32",
                    "description": "User identifier (unsigned integer)"
                  },
                  "hash": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ]
      },
      "Cast": {
        "type": "object",
        "required": [
          "hash",
          "parent_hash",
          "parent_url",
          "root_parent_url",
          "parent_author",
          "author",
          "text",
          "timestamp",
          "embeds"
        ],
        "properties": {
          "hash": {
            "type": "string"
          },
          "parent_hash": {
            "type": "string",
            "nullable": true
          },
          "parent_url": {
            "type": "string",
            "nullable": true
          },
          "root_parent_url": {
            "type": "string",
            "nullable": true
          },
          "parent_author": {
            "type": "object",
            "allOf": [
              {
                "type": "integer",
                "default": 3,
                "format": "int32",
                "description": "User identifier (unsigned integer)"
              },
              {
                "required": [
                  "fid"
                ],
                "properties": {
                  "fid": {
                    "type": "integer",
                    "nullable": true
                  }
                }
              }
            ]
          },
          "author": {
            "type": "object",
            "required": [
              "object",
              "fid",
              "custody_address",
              "username",
              "profile",
              "follower_count",
              "following_count",
              "verifications",
              "verified_addresses",
              "active_status",
              "power_badge"
            ],
            "properties": {
              "object": {
                "type": "string",
                "enum": [
                  "user"
                ]
              },
              "fid": {
                "type": "integer",
                "default": 3,
                "format": "int32",
                "description": "User identifier (unsigned integer)"
              },
              "username": {
                "type": "string"
              },
              "display_name": {
                "type": "string"
              },
              "custody_address": {
                "type": "string",
                "pattern": "^0x[a-fA-F0-9]{40}$",
                "description": "Ethereum address"
              },
              "pfp_url": {
                "type": "string",
                "description": "The URL of the user's profile picture"
              },
              "profile": {
                "type": "object",
                "required": [
                  "bio"
                ],
                "properties": {
                  "bio": {
                    "type": "object",
                    "required": [
                      "text",
                      "mentioned_profiles"
                    ],
                    "properties": {
                      "text": {
                        "type": "string"
                      },
                      "mentioned_profiles": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "default": []
                      }
                    }
                  }
                }
              },
              "follower_count": {
                "type": "integer",
                "format": "int32",
                "description": "The number of followers the user has."
              },
              "following_count": {
                "type": "integer",
                "format": "int32",
                "description": "The number of users the user is following."
              },
              "verifications": {
                "type": "array",
                "items": {
                  "type": "string",
                  "pattern": "^0x[a-fA-F0-9]{40}$",
                  "description": "Ethereum address"
                }
              },
              "verified_addresses": {
                "type": "object",
                "required": [
                  "eth_addresses",
                  "sol_addresses"
                ],
                "properties": {
                  "eth_addresses": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^0x[a-fA-F0-9]{40}$",
                      "description": "Ethereum address"
                    }
                  },
                  "sol_addresses": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                      "description": "Solana address"
                    }
                  }
                }
              },
              "active_status": {
                "type": "string",
                "enum": [
                  "active",
                  "inactive"
                ],
                "description": "The status of a user.\n  - active: The user is currently active.\n  - inactive: The user is not currently active.\n"
              },
              "power_badge": {
                "type": "boolean"
              },
              "viewer_context": {
                "type": "object",
                "description": "Adds context on the viewer's follow relationship with the user.",
                "required": [
                  "following",
                  "followed_by"
                ],
                "properties": {
                  "following": {
                    "description": "Indicates if the viewer is following the user.",
                    "type": "boolean"
                  },
                  "followed_by": {
                    "description": "Indicates if the viewer is followed by the user.",
                    "type": "boolean"
                  }
                }
              }
            }
          },
          "text": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "embeds": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "required": [
                    "url"
                  ],
                  "properties": {
                    "url": {
                      "type": "string"
                    }
                  }
                },
                {
                  "type": "object",
                  "required": [
                    "cast_id"
                  ],
                  "properties": {
                    "cast_id": {
                      "type": "object",
                      "required": [
                        "fid",
                        "hash"
                      ],
                      "properties": {
                        "fid": {
                          "type": "integer",
                          "default": 3,
                          "format": "int32",
                          "description": "User identifier (unsigned integer)"
                        },
                        "hash": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              ]
            }
          },
          "type": {
            "type": "string",
            "enum": [
              "cast-mention",
              "cast-reply"
            ],
            "description": "The notification type of a cast.\n"
          }
        }
      },
      "ProfileUrl": {
        "type": "object",
        "required": [
          "pfp"
        ],
        "properties": {
          "pfp": {
            "type": "object",
            "required": [
              "url"
            ],
            "properties": {
              "url": {
                "type": "string"
              }
            }
          }
        }
      },
      "SearchedUser": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "object",
              "fid",
              "custody_address",
              "username",
              "profile",
              "follower_count",
              "following_count",
              "verifications",
              "verified_addresses",
              "active_status",
              "power_badge"
            ],
            "properties": {
              "object": {
                "type": "string",
                "enum": [
                  "user"
                ]
              },
              "fid": {
                "type": "integer",
                "default": 3,
                "format": "int32",
                "description": "User identifier (unsigned integer)"
              },
              "username": {
                "type": "string"
              },
              "display_name": {
                "type": "string"
              },
              "custody_address": {
                "type": "string",
                "pattern": "^0x[a-fA-F0-9]{40}$",
                "description": "Ethereum address"
              },
              "pfp_url": {
                "type": "string",
                "description": "The URL of the user's profile picture"
              },
              "profile": {
                "type": "object",
                "required": [
                  "bio"
                ],
                "properties": {
                  "bio": {
                    "type": "object",
                    "required": [
                      "text",
                      "mentioned_profiles"
                    ],
                    "properties": {
                      "text": {
                        "type": "string"
                      },
                      "mentioned_profiles": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "default": []
                      }
                    }
                  }
                }
              },
              "follower_count": {
                "type": "integer",
                "format": "int32",
                "description": "The number of followers the user has."
              },
              "following_count": {
                "type": "integer",
                "format": "int32",
                "description": "The number of users the user is following."
              },
              "verifications": {
                "type": "array",
                "items": {
                  "type": "string",
                  "pattern": "^0x[a-fA-F0-9]{40}$",
                  "description": "Ethereum address"
                }
              },
              "verified_addresses": {
                "type": "object",
                "required": [
                  "eth_addresses",
                  "sol_addresses"
                ],
                "properties": {
                  "eth_addresses": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^0x[a-fA-F0-9]{40}$",
                      "description": "Ethereum address"
                    }
                  },
                  "sol_addresses": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                      "description": "Solana address"
                    }
                  }
                }
              },
              "active_status": {
                "type": "string",
                "enum": [
                  "active",
                  "inactive"
                ],
                "description": "The status of a user.\n  - active: The user is currently active.\n  - inactive: The user is not currently active.\n"
              },
              "power_badge": {
                "type": "boolean"
              },
              "viewer_context": {
                "type": "object",
                "description": "Adds context on the viewer's follow relationship with the user.",
                "required": [
                  "following",
                  "followed_by"
                ],
                "properties": {
                  "following": {
                    "description": "Indicates if the viewer is following the user.",
                    "type": "boolean"
                  },
                  "followed_by": {
                    "description": "Indicates if the viewer is followed by the user.",
                    "type": "boolean"
                  }
                }
              }
            }
          },
          {
            "type": "object",
            "required": [
              "pfp"
            ],
            "properties": {
              "pfp": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ]
      },
      "RegisterSignerKeyReqBody": {
        "type": "object",
        "required": [
          "signer_uuid",
          "signature",
          "app_fid",
          "deadline"
        ],
        "properties": {
          "signer_uuid": {
            "type": "string",
            "description": "UUID of the signer",
            "example": "19d0c5fd-9b33-4a48-a0e2-bc7b0555baec"
          },
          "signature": {
            "type": "string",
            "description": "Signature generated by the custody address of the app. Signed data includes app_fid, deadline, signer’s public key"
          },
          "app_fid": {
            "type": "integer",
            "default": 3,
            "format": "int32",
            "description": "Application FID"
          },
          "deadline": {
            "type": "integer",
            "description": "unix timestamp in seconds that controls how long the signed key request is valid for. (24 hours from now is recommended)"
          }
        }
      },
      "RegisterDeveloperManagedSignedKeyReqBody": {
        "type": "object",
        "required": [
          "public_key",
          "signature",
          "app_fid",
          "deadline"
        ],
        "properties": {
          "public_key": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{64}$",
            "description": "Ed25519 public key",
            "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
          },
          "signature": {
            "type": "string",
            "description": "Signature generated by the custody address of the app. Signed data includes app_fid, deadline, signer’s public key"
          },
          "app_fid": {
            "type": "integer",
            "default": 3,
            "format": "int32",
            "description": "Application FID"
          },
          "deadline": {
            "type": "integer",
            "description": "unix timestamp in seconds that controls how long the signed key request is valid for. (24 hours from now is recommended)"
          }
        }
      },
      "CastParent": {
        "type": "string",
        "description": "Parent URL or Cast Hash"
      },
      "PostCastReqBody": {
        "type": "object",
        "required": [
          "signer_uuid"
        ],
        "properties": {
          "signer_uuid": {
            "type": "string",
            "description": "UUID of the signer",
            "example": "19d0c5fd-9b33-4a48-a0e2-bc7b0555baec"
          },
          "text": {
            "type": "string"
          },
          "embeds": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "required": [
                    "url"
                  ],
                  "properties": {
                    "url": {
                      "type": "string"
                    }
                  }
                },
                {
                  "type": "object",
                  "required": [
                    "cast_id"
                  ],
                  "properties": {
                    "cast_id": {
                      "type": "object",
                      "required": [
                        "fid",
                        "hash"
                      ],
                      "properties": {
                        "fid": {
                          "type": "integer",
                          "default": 3,
                          "format": "int32",
                          "description": "User identifier (unsigned integer)"
                        },
                        "hash": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              ]
            }
          },
          "parent": {
            "type": "string",
            "description": "Parent URL or Cast Hash"
          },
          "channel_id": {
            "type": "string",
            "description": "Channel ID of the channel where the cast is to be posted. e.g. neynar, farcaster, warpcast",
            "example": "neynar"
          }
        }
      },
      "MuteReqBody": {
        "type": "object",
        "required": [
          "fid",
          "muted_fid"
        ],
        "properties": {
          "fid": {
            "type": "integer",
            "default": 3,
            "format": "int32",
            "description": "User identifier (unsigned integer)"
          },
          "muted_fid": {
            "type": "integer",
            "default": 3,
            "format": "int32",
            "description": "User identifier (unsigned integer)"
          }
        }
      },
      "ReactionReqBody": {
        "type": "object",
        "required": [
          "signer_uuid",
          "reaction_type",
          "target"
        ],
        "properties": {
          "signer_uuid": {
            "type": "string",
            "description": "UUID of the signer",
            "example": "19d0c5fd-9b33-4a48-a0e2-bc7b0555baec"
          },
          "reaction_type": {
            "type": "string",
            "enum": [
              "like",
              "recast"
            ]
          },
          "target": {
            "type": "string"
          }
        }
      },
      "GetCastsReqBody": {
        "type": "object",
        "properties": {
          "casts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "hash": {
                  "type": "string"
                }
              },
              "required": [
                "hash"
              ]
            }
          }
        }
      },
      "PublishMessageReqBody": {
        "type": "object"
      },
      "PublishMessageResponse": {
        "type": "object"
      },
      "DeleteCastReqBody": {
        "type": "object",
        "required": [
          "signer_uuid",
          "target_hash"
        ],
        "properties": {
          "signer_uuid": {
            "type": "string",
            "description": "UUID of the signer",
            "example": "19d0c5fd-9b33-4a48-a0e2-bc7b0555baec"
          },
          "target_hash": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "Ethereum address"
          }
        }
      },
      "FollowReqBody": {
        "type": "object",
        "required": [
          "signer_uuid",
          "target_fids"
        ],
        "properties": {
          "signer_uuid": {
            "type": "string",
            "description": "UUID of the signer",
            "example": "19d0c5fd-9b33-4a48-a0e2-bc7b0555baec"
          },
          "target_fids": {
            "type": "array",
            "items": {
              "type": "integer",
              "default": 3,
              "format": "int32",
              "description": "User identifier (unsigned integer)"
            }
          }
        }
      },
      "FrameActionReqBody": {
        "type": "object",
        "required": [
          "signer_uuid",
          "cast_hash",
          "action"
        ],
        "properties": {
          "signer_uuid": {
            "type": "string",
            "description": "UUID of the signer",
            "example": "19d0c5fd-9b33-4a48-a0e2-bc7b0555baec"
          },
          "cast_hash": {
            "type": "string",
            "default": "0xfe90f9de682273e05b201629ad2338bdcd89b6be",
            "description": "Cast Hash"
          },
          "action": {
            "type": "object",
            "required": [
              "button",
              "frames_url",
              "post_url"
            ],
            "properties": {
              "version": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "image": {
                "type": "string"
              },
              "button": {
                "type": "object",
                "required": [
                  "index",
                  "action_type"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Title of the button"
                  },
                  "index": {
                    "type": "integer",
                    "description": "Index of the button"
                  },
                  "action_type": {
                    "type": "string",
                    "enum": [
                      "post",
                      "post_redirect",
                      "tx"
                    ]
                  },
                  "target": {
                    "type": "string",
                    "description": "Target of the button"
                  },
                  "post_url": {
                    "type": "string",
                    "description": "Used specifically for the tx action type to post a successful transaction hash"
                  }
                }
              },
              "input": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Input text for the frame",
                    "example": "Draw a purple ringed planet"
                  }
                }
              },
              "state": {
                "type": "object",
                "required": [
                  "serialized"
                ],
                "properties": {
                  "serialized": {
                    "type": "string",
                    "description": "State for the frame in a serialized format",
                    "example": "%7B%22counter%22%3A1%7D"
                  }
                }
              },
              "transaction": {
                "type": "object",
                "required": [
                  "hash"
                ],
                "properties": {
                  "hash": {
                    "type": "string",
                    "description": "Transaction hash",
                    "example": "0xa80de157a3ab4648db1ecfab7e6355b342215bc549f6e37be9e6da527cc024f7"
                  }
                }
              },
              "address": {
                "type": "string",
                "description": "The connected wallet address of the interacting user."
              },
              "frames_url": {
                "type": "string",
                "description": "URL of the frames"
              },
              "post_url": {
                "type": "string",
                "description": "URL of the post to get the next frame"
              }
            }
          }
        }
      },
      "AddVerificationReqBody": {
        "type": "object",
        "required": [
          "signer_uuid",
          "address",
          "block_hash",
          "eth_signature"
        ],
        "properties": {
          "signer_uuid": {
            "type": "string",
            "description": "UUID of the signer",
            "example": "19d0c5fd-9b33-4a48-a0e2-bc7b0555baec"
          },
          "address": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "Ethereum address"
          },
          "block_hash": {
            "type": "string"
          },
          "eth_signature": {
            "type": "string"
          }
        }
      },
      "RemoveVerificationReqBody": {
        "type": "object",
        "required": [
          "signer_uuid",
          "address",
          "block_hash",
          "eth_signature"
        ],
        "properties": {
          "signer_uuid": {
            "type": "string",
            "description": "UUID of the signer",
            "example": "19d0c5fd-9b33-4a48-a0e2-bc7b0555baec"
          },
          "address": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "Ethereum address"
          }
        }
      },
      "UpdateUserReqBody": {
        "type": "object",
        "required": [
          "signer_uuid"
        ],
        "properties": {
          "signer_uuid": {
            "type": "string",
            "description": "UUID of the signer",
            "example": "19d0c5fd-9b33-4a48-a0e2-bc7b0555baec"
          },
          "bio": {
            "type": "string"
          },
          "pfp_url": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          }
        }
      },
      "CastWithInteractionsReactions": {
        "type": "object",
        "required": [
          "likes",
          "recasts",
          "likes_count",
          "recasts_count"
        ],
        "properties": {
          "likes": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "fid"
              ],
              "properties": {
                "fid": {
                  "type": "integer",
                  "default": 3,
                  "format": "int32",
                  "description": "User identifier (unsigned integer)"
                }
              }
            }
          },
          "recasts": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "fid",
                "fname"
              ],
              "properties": {
                "fid": {
                  "type": "integer",
                  "default": 3,
                  "format": "int32",
                  "description": "User identifier (unsigned integer)"
                },
                "fname": {
                  "type": "string"
                }
              }
            }
          },
          "likes_count": {
            "type": "integer",
            "format": "int32"
          },
          "recasts_count": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "CastWithInteractionsReplies": {
        "type": "object",
        "required": [
          "count"
        ],
        "properties": {
          "count": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "CastWithInteractions": {
        "type": "object",
        "allOf": [
          {
            "type": "object",
            "required": [
              "hash",
              "parent_hash",
              "parent_url",
              "root_parent_url",
              "parent_author",
              "author",
              "text",
              "timestamp",
              "embeds"
            ],
            "properties": {
              "hash": {
                "type": "string"
              },
              "parent_hash": {
                "type": "string",
                "nullable": true
              },
              "parent_url": {
                "type": "string",
                "nullable": true
              },
              "root_parent_url": {
                "type": "string",
                "nullable": true
              },
              "parent_author": {
                "type": "object",
                "allOf": [
                  {
                    "type": "integer",
                    "default": 3,
                    "format": "int32",
                    "description": "User identifier (unsigned integer)"
                  },
                  {
                    "required": [
                      "fid"
                    ],
                    "properties": {
                      "fid": {
                        "type": "integer",
                        "nullable": true
                      }
                    }
                  }
                ]
              },
              "author": {
                "type": "object",
                "required": [
                  "object",
                  "fid",
                  "custody_address",
                  "username",
                  "profile",
                  "follower_count",
                  "following_count",
                  "verifications",
                  "verified_addresses",
                  "active_status",
                  "power_badge"
                ],
                "properties": {
                  "object": {
                    "type": "string",
                    "enum": [
                      "user"
                    ]
                  },
                  "fid": {
                    "type": "integer",
                    "default": 3,
                    "format": "int32",
                    "description": "User identifier (unsigned integer)"
                  },
                  "username": {
                    "type": "string"
                  },
                  "display_name": {
                    "type": "string"
                  },
                  "custody_address": {
                    "type": "string",
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "description": "Ethereum address"
                  },
                  "pfp_url": {
                    "type": "string",
                    "description": "The URL of the user's profile picture"
                  },
                  "profile": {
                    "type": "object",
                    "required": [
                      "bio"
                    ],
                    "properties": {
                      "bio": {
                        "type": "object",
                        "required": [
                          "text",
                          "mentioned_profiles"
                        ],
                        "properties": {
                          "text": {
                            "type": "string"
                          },
                          "mentioned_profiles": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "default": []
                          }
                        }
                      }
                    }
                  },
                  "follower_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The number of followers the user has."
                  },
                  "following_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The number of users the user is following."
                  },
                  "verifications": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^0x[a-fA-F0-9]{40}$",
                      "description": "Ethereum address"
                    }
                  },
                  "verified_addresses": {
                    "type": "object",
                    "required": [
                      "eth_addresses",
                      "sol_addresses"
                    ],
                    "properties": {
                      "eth_addresses": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "pattern": "^0x[a-fA-F0-9]{40}$",
                          "description": "Ethereum address"
                        }
                      },
                      "sol_addresses": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                          "description": "Solana address"
                        }
                      }
                    }
                  },
                  "active_status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "inactive"
                    ],
                    "description": "The status of a user.\n  - active: The user is currently active.\n  - inactive: The user is not currently active.\n"
                  },
                  "power_badge": {
                    "type": "boolean"
                  },
                  "viewer_context": {
                    "type": "object",
                    "description": "Adds context on the viewer's follow relationship with the user.",
                    "required": [
                      "following",
                      "followed_by"
                    ],
                    "properties": {
                      "following": {
                        "description": "Indicates if the viewer is following the user.",
                        "type": "boolean"
                      },
                      "followed_by": {
                        "description": "Indicates if the viewer is followed by the user.",
                        "type": "boolean"
                      }
                    }
                  }
                }
              },
              "text": {
                "type": "string"
              },
              "timestamp": {
                "type": "string",
                "format": "date-time"
              },
              "embeds": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": [
                        "url"
                      ],
                      "properties": {
                        "url": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "cast_id"
                      ],
                      "properties": {
                        "cast_id": {
                          "type": "object",
                          "required": [
                            "fid",
                            "hash"
                          ],
                          "properties": {
                            "fid": {
                              "type": "integer",
                              "default": 3,
                              "format": "int32",
                              "description": "User identifier (unsigned integer)"
                            },
                            "hash": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              },
              "type": {
                "type": "string",
                "enum": [
                  "cast-mention",
                  "cast-reply"
                ],
                "description": "The notification type of a cast.\n"
              }
            }
          },
          {
            "required": [
              "reactions",
              "replies",
              "thread_hash",
              "mentioned_profiles"
            ],
            "properties": {
              "frames": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "version",
                    "image",
                    "frames_url"
                  ],
                  "properties": {
                    "version": {
                      "type": "string",
                      "description": "Version of the frame"
                    },
                    "image": {
                      "type": "string",
                      "description": "URL of the image"
                    },
                    "buttons": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "index",
                          "action_type"
                        ],
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "Title of the button"
                          },
                          "index": {
                            "type": "integer",
                            "description": "Index of the button"
                          },
                          "action_type": {
                            "type": "string",
                            "enum": [
                              "post",
                              "post_redirect",
                              "tx"
                            ]
                          },
                          "target": {
                            "type": "string",
                            "description": "Target of the button"
                          },
                          "post_url": {
                            "type": "string",
                            "description": "Used specifically for the tx action type to post a successful transaction hash"
                          }
                        }
                      }
                    },
                    "post_url": {
                      "type": "string",
                      "description": "Post URL to take an action on this frame"
                    },
                    "frames_url": {
                      "type": "string",
                      "description": "URL of the frames"
                    },
                    "title": {
                      "type": "string"
                    },
                    "image_aspect_ratio": {
                      "type": "string"
                    },
                    "input": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string",
                          "description": "Input text for the frame"
                        }
                      }
                    },
                    "state": {
                      "type": "object",
                      "properties": {
                        "serialized": {
                          "type": "string",
                          "description": "State for the frame in a serialized format"
                        }
                      }
                    }
                  }
                }
              },
              "reactions": {
                "type": "object",
                "required": [
                  "likes",
                  "recasts",
                  "likes_count",
                  "recasts_count"
                ],
                "properties": {
                  "likes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "fid"
                      ],
                      "properties": {
                        "fid": {
                          "type": "integer",
                          "default": 3,
                          "format": "int32",
                          "description": "User identifier (unsigned integer)"
                        }
                      }
                    }
                  },
                  "recasts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "fid",
                        "fname"
                      ],
                      "properties": {
                        "fid": {
                          "type": "integer",
                          "default": 3,
                          "format": "int32",
                          "description": "User identifier (unsigned integer)"
                        },
                        "fname": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "likes_count": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "recasts_count": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "replies": {
                "type": "object",
                "required": [
                  "count"
                ],
                "properties": {
                  "count": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "thread_hash": {
                "type": "string",
                "nullable": true
              },
              "mentioned_profiles": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "object",
                    "fid",
                    "custody_address",
                    "username",
                    "profile",
                    "follower_count",
                    "following_count",
                    "verifications",
                    "verified_addresses",
                    "active_status",
                    "power_badge"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "user"
                      ]
                    },
                    "fid": {
                      "type": "integer",
                      "default": 3,
                      "format": "int32",
                      "description": "User identifier (unsigned integer)"
                    },
                    "username": {
                      "type": "string"
                    },
                    "display_name": {
                      "type": "string"
                    },
                    "custody_address": {
                      "type": "string",
                      "pattern": "^0x[a-fA-F0-9]{40}$",
                      "description": "Ethereum address"
                    },
                    "pfp_url": {
                      "type": "string",
                      "description": "The URL of the user's profile picture"
                    },
                    "profile": {
                      "type": "object",
                      "required": [
                        "bio"
                      ],
                      "properties": {
                        "bio": {
                          "type": "object",
                          "required": [
                            "text",
                            "mentioned_profiles"
                          ],
                          "properties": {
                            "text": {
                              "type": "string"
                            },
                            "mentioned_profiles": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "default": []
                            }
                          }
                        }
                      }
                    },
                    "follower_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of followers the user has."
                    },
                    "following_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of users the user is following."
                    },
                    "verifications": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "pattern": "^0x[a-fA-F0-9]{40}$",
                        "description": "Ethereum address"
                      }
                    },
                    "verified_addresses": {
                      "type": "object",
                      "required": [
                        "eth_addresses",
                        "sol_addresses"
                      ],
                      "properties": {
                        "eth_addresses": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "pattern": "^0x[a-fA-F0-9]{40}$",
                            "description": "Ethereum address"
                          }
                        },
                        "sol_addresses": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                            "description": "Solana address"
                          }
                        }
                      }
                    },
                    "active_status": {
                      "type": "string",
                      "enum": [
                        "active",
                        "inactive"
                      ],
                      "description": "The status of a user.\n  - active: The user is currently active.\n  - inactive: The user is not currently active.\n"
                    },
                    "power_badge": {
                      "type": "boolean"
                    },
                    "viewer_context": {
                      "type": "object",
                      "description": "Adds context on the viewer's follow relationship with the user.",
                      "required": [
                        "following",
                        "followed_by"
                      ],
                      "properties": {
                        "following": {
                          "description": "Indicates if the viewer is following the user.",
                          "type": "boolean"
                        },
                        "followed_by": {
                          "description": "Indicates if the viewer is followed by the user.",
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              },
              "channel": {
                "type": "object",
                "required": [
                  "id",
                  "url",
                  "object"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "object": {
                    "type": "string",
                    "enum": [
                      "channel"
                    ]
                  },
                  "created_at": {
                    "description": "Epoch timestamp in seconds.",
                    "type": "number"
                  },
                  "follower_count": {
                    "description": "Number of followers the channel has.",
                    "type": "number"
                  },
                  "image_url": {
                    "type": "string"
                  },
                  "parent_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "lead": {
                    "type": "object",
                    "required": [
                      "object",
                      "fid",
                      "custody_address",
                      "username",
                      "profile",
                      "follower_count",
                      "following_count",
                      "verifications",
                      "verified_addresses",
                      "active_status",
                      "power_badge"
                    ],
                    "properties": {
                      "object": {
                        "type": "string",
                        "enum": [
                          "user"
                        ]
                      },
                      "fid": {
                        "type": "integer",
                        "default": 3,
                        "format": "int32",
                        "description": "User identifier (unsigned integer)"
                      },
                      "username": {
                        "type": "string"
                      },
                      "display_name": {
                        "type": "string"
                      },
                      "custody_address": {
                        "type": "string",
                        "pattern": "^0x[a-fA-F0-9]{40}$",
                        "description": "Ethereum address"
                      },
                      "pfp_url": {
                        "type": "string",
                        "description": "The URL of the user's profile picture"
                      },
                      "profile": {
                        "type": "object",
                        "required": [
                          "bio"
                        ],
                        "properties": {
                          "bio": {
                            "type": "object",
                            "required": [
                              "text",
                              "mentioned_profiles"
                            ],
                            "properties": {
                              "text": {
                                "type": "string"
                              },
                              "mentioned_profiles": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "default": []
                              }
                            }
                          }
                        }
                      },
                      "follower_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of followers the user has."
                      },
                      "following_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of users the user is following."
                      },
                      "verifications": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "pattern": "^0x[a-fA-F0-9]{40}$",
                          "description": "Ethereum address"
                        }
                      },
                      "verified_addresses": {
                        "type": "object",
                        "required": [
                          "eth_addresses",
                          "sol_addresses"
                        ],
                        "properties": {
                          "eth_addresses": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "pattern": "^0x[a-fA-F0-9]{40}$",
                              "description": "Ethereum address"
                            }
                          },
                          "sol_addresses": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                              "description": "Solana address"
                            }
                          }
                        }
                      },
                      "active_status": {
                        "type": "string",
                        "enum": [
                          "active",
                          "inactive"
                        ],
                        "description": "The status of a user.\n  - active: The user is currently active.\n  - inactive: The user is not currently active.\n"
                      },
                      "power_badge": {
                        "type": "boolean"
                      },
                      "viewer_context": {
                        "type": "object",
                        "description": "Adds context on the viewer's follow relationship with the user.",
                        "required": [
                          "following",
                          "followed_by"
                        ],
                        "properties": {
                          "following": {
                            "description": "Indicates if the viewer is following the user.",
                            "type": "boolean"
                          },
                          "followed_by": {
                            "description": "Indicates if the viewer is followed by the user.",
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  },
                  "hosts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "object",
                        "fid",
                        "custody_address",
                        "username",
                        "profile",
                        "follower_count",
                        "following_count",
                        "verifications",
                        "verified_addresses",
                        "active_status",
                        "power_badge"
                      ],
                      "properties": {
                        "object": {
                          "type": "string",
                          "enum": [
                            "user"
                          ]
                        },
                        "fid": {
                          "type": "integer",
                          "default": 3,
                          "format": "int32",
                          "description": "User identifier (unsigned integer)"
                        },
                        "username": {
                          "type": "string"
                        },
                        "display_name": {
                          "type": "string"
                        },
                        "custody_address": {
                          "type": "string",
                          "pattern": "^0x[a-fA-F0-9]{40}$",
                          "description": "Ethereum address"
                        },
                        "pfp_url": {
                          "type": "string",
                          "description": "The URL of the user's profile picture"
                        },
                        "profile": {
                          "type": "object",
                          "required": [
                            "bio"
                          ],
                          "properties": {
                            "bio": {
                              "type": "object",
                              "required": [
                                "text",
                                "mentioned_profiles"
                              ],
                              "properties": {
                                "text": {
                                  "type": "string"
                                },
                                "mentioned_profiles": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "default": []
                                }
                              }
                            }
                          }
                        },
                        "follower_count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of followers the user has."
                        },
                        "following_count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of users the user is following."
                        },
                        "verifications": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "pattern": "^0x[a-fA-F0-9]{40}$",
                            "description": "Ethereum address"
                          }
                        },
                        "verified_addresses": {
                          "type": "object",
                          "required": [
                            "eth_addresses",
                            "sol_addresses"
                          ],
                          "properties": {
                            "eth_addresses": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "pattern": "^0x[a-fA-F0-9]{40}$",
                                "description": "Ethereum address"
                              }
                            },
                            "sol_addresses": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                                "description": "Solana address"
                              }
                            }
                          }
                        },
                        "active_status": {
                          "type": "string",
                          "enum": [
                            "active",
                            "inactive"
                          ],
                          "description": "The status of a user.\n  - active: The user is currently active.\n  - inactive: The user is not currently active.\n"
                        },
                        "power_badge": {
                          "type": "boolean"
                        },
                        "viewer_context": {
                          "type": "object",
                          "description": "Adds context on the viewer's follow relationship with the user.",
                          "required": [
                            "following",
                            "followed_by"
                          ],
                          "properties": {
                            "following": {
                              "description": "Indicates if the viewer is following the user.",
                              "type": "boolean"
                            },
                            "followed_by": {
                              "description": "Indicates if the viewer is followed by the user.",
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    }
                  },
                  "viewer_context": {
                    "type": "object",
                    "required": [
                      "following"
                    ],
                    "properties": {
                      "following": {
                        "type": "boolean",
                        "description": "Indicates if the viewer is following the channel."
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "CastWithInteractionsAndConversations": {
        "type": "object",
        "required": [
          "direct_replies"
        ],
        "allOf": [
          {
            "type": "object",
            "allOf": [
              {
                "type": "object",
                "required": [
                  "hash",
                  "parent_hash",
                  "parent_url",
                  "root_parent_url",
                  "parent_author",
                  "author",
                  "text",
                  "timestamp",
                  "embeds"
                ],
                "properties": {
                  "hash": {
                    "type": "string"
                  },
                  "parent_hash": {
                    "type": "string",
                    "nullable": true
                  },
                  "parent_url": {
                    "type": "string",
                    "nullable": true
                  },
                  "root_parent_url": {
                    "type": "string",
                    "nullable": true
                  },
                  "parent_author": {
                    "type": "object",
                    "allOf": [
                      {
                        "type": "integer",
                        "default": 3,
                        "format": "int32",
                        "description": "User identifier (unsigned integer)"
                      },
                      {
                        "required": [
                          "fid"
                        ],
                        "properties": {
                          "fid": {
                            "type": "integer",
                            "nullable": true
                          }
                        }
                      }
                    ]
                  },
                  "author": {
                    "type": "object",
                    "required": [
                      "object",
                      "fid",
                      "custody_address",
                      "username",
                      "profile",
                      "follower_count",
                      "following_count",
                      "verifications",
                      "verified_addresses",
                      "active_status",
                      "power_badge"
                    ],
                    "properties": {
                      "object": {
                        "type": "string",
                        "enum": [
                          "user"
                        ]
                      },
                      "fid": {
                        "type": "integer",
                        "default": 3,
                        "format": "int32",
                        "description": "User identifier (unsigned integer)"
                      },
                      "username": {
                        "type": "string"
                      },
                      "display_name": {
                        "type": "string"
                      },
                      "custody_address": {
                        "type": "string",
                        "pattern": "^0x[a-fA-F0-9]{40}$",
                        "description": "Ethereum address"
                      },
                      "pfp_url": {
                        "type": "string",
                        "description": "The URL of the user's profile picture"
                      },
                      "profile": {
                        "type": "object",
                        "required": [
                          "bio"
                        ],
                        "properties": {
                          "bio": {
                            "type": "object",
                            "required": [
                              "text",
                              "mentioned_profiles"
                            ],
                            "properties": {
                              "text": {
                                "type": "string"
                              },
                              "mentioned_profiles": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "default": []
                              }
                            }
                          }
                        }
                      },
                      "follower_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of followers the user has."
                      },
                      "following_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of users the user is following."
                      },
                      "verifications": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "pattern": "^0x[a-fA-F0-9]{40}$",
                          "description": "Ethereum address"
                        }
                      },
                      "verified_addresses": {
                        "type": "object",
                        "required": [
                          "eth_addresses",
                          "sol_addresses"
                        ],
                        "properties": {
                          "eth_addresses": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "pattern": "^0x[a-fA-F0-9]{40}$",
                              "description": "Ethereum address"
                            }
                          },
                          "sol_addresses": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                              "description": "Solana address"
                            }
                          }
                        }
                      },
                      "active_status": {
                        "type": "string",
                        "enum": [
                          "active",
                          "inactive"
                        ],
                        "description": "The status of a user.\n  - active: The user is currently active.\n  - inactive: The user is not currently active.\n"
                      },
                      "power_badge": {
                        "type": "boolean"
                      },
                      "viewer_context": {
                        "type": "object",
                        "description": "Adds context on the viewer's follow relationship with the user.",
                        "required": [
                          "following",
                          "followed_by"
                        ],
                        "properties": {
                          "following": {
                            "description": "Indicates if the viewer is following the user.",
                            "type": "boolean"
                          },
                          "followed_by": {
                            "description": "Indicates if the viewer is followed by the user.",
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  },
                  "text": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "embeds": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "required": [
                            "url"
                          ],
                          "properties": {
                            "url": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": [
                            "cast_id"
                          ],
                          "properties": {
                            "cast_id": {
                              "type": "object",
                              "required": [
                                "fid",
                                "hash"
                              ],
                              "properties": {
                                "fid": {
                                  "type": "integer",
                                  "default": 3,
                                  "format": "int32",
                                  "description": "User identifier (unsigned integer)"
                                },
                                "hash": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "cast-mention",
                      "cast-reply"
                    ],
                    "description": "The notification type of a cast.\n"
                  }
                }
              },
              {
                "required": [
                  "reactions",
                  "replies",
                  "thread_hash",
                  "mentioned_profiles"
                ],
                "properties": {
                  "frames": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "version",
                        "image",
                        "frames_url"
                      ],
                      "properties": {
                        "version": {
                          "type": "string",
                          "description": "Version of the frame"
                        },
                        "image": {
                          "type": "string",
                          "description": "URL of the image"
                        },
                        "buttons": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "index",
                              "action_type"
                            ],
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "Title of the button"
                              },
                              "index": {
                                "type": "integer",
                                "description": "Index of the button"
                              },
                              "action_type": {
                                "type": "string",
                                "enum": [
                                  "post",
                                  "post_redirect",
                                  "tx"
                                ]
                              },
                              "target": {
                                "type": "string",
                                "description": "Target of the button"
                              },
                              "post_url": {
                                "type": "string",
                                "description": "Used specifically for the tx action type to post a successful transaction hash"
                              }
                            }
                          }
                        },
                        "post_url": {
                          "type": "string",
                          "description": "Post URL to take an action on this frame"
                        },
                        "frames_url": {
                          "type": "string",
                          "description": "URL of the frames"
                        },
                        "title": {
                          "type": "string"
                        },
                        "image_aspect_ratio": {
                          "type": "string"
                        },
                        "input": {
                          "type": "object",
                          "properties": {
                            "text": {
                              "type": "string",
                              "description": "Input text for the frame"
                            }
                          }
                        },
                        "state": {
                          "type": "object",
                          "properties": {
                            "serialized": {
                              "type": "string",
                              "description": "State for the frame in a serialized format"
                            }
                          }
                        }
                      }
                    }
                  },
                  "reactions": {
                    "type": "object",
                    "required": [
                      "likes",
                      "recasts",
                      "likes_count",
                      "recasts_count"
                    ],
                    "properties": {
                      "likes": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "fid"
                          ],
                          "properties": {
                            "fid": {
                              "type": "integer",
                              "default": 3,
                              "format": "int32",
                              "description": "User identifier (unsigned integer)"
                            }
                          }
                        }
                      },
                      "recasts": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "fid",
                            "fname"
                          ],
                          "properties": {
                            "fid": {
                              "type": "integer",
                              "default": 3,
                              "format": "int32",
                              "description": "User identifier (unsigned integer)"
                            },
                            "fname": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "likes_count": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "recasts_count": {
                        "type": "integer",
                        "format": "int32"
                      }
                    }
                  },
                  "replies": {
                    "type": "object",
                    "required": [
                      "count"
                    ],
                    "properties": {
                      "count": {
                        "type": "integer",
                        "format": "int32"
                      }
                    }
                  },
                  "thread_hash": {
                    "type": "string",
                    "nullable": true
                  },
                  "mentioned_profiles": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "object",
                        "fid",
                        "custody_address",
                        "username",
                        "profile",
                        "follower_count",
                        "following_count",
                        "verifications",
                        "verified_addresses",
                        "active_status",
                        "power_badge"
                      ],
                      "properties": {
                        "object": {
                          "type": "string",
                          "enum": [
                            "user"
                          ]
                        },
                        "fid": {
                          "type": "integer",
                          "default": 3,
                          "format": "int32",
                          "description": "User identifier (unsigned integer)"
                        },
                        "username": {
                          "type": "string"
                        },
                        "display_name": {
                          "type": "string"
                        },
                        "custody_address": {
                          "type": "string",
                          "pattern": "^0x[a-fA-F0-9]{40}$",
                          "description": "Ethereum address"
                        },
                        "pfp_url": {
                          "type": "string",
                          "description": "The URL of the user's profile picture"
                        },
                        "profile": {
                          "type": "object",
                          "required": [
                            "bio"
                          ],
                          "properties": {
                            "bio": {
                              "type": "object",
                              "required": [
                                "text",
                                "mentioned_profiles"
                              ],
                              "properties": {
                                "text": {
                                  "type": "string"
                                },
                                "mentioned_profiles": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "default": []
                                }
                              }
[...]
